.code {
  background-color: #474646;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.todoEntry {
  background-color: #222222;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 4px;
  padding: 2px;
}

.todoEntryCheckbox {
  margin: 5px;
  width: 20px;
  height: 20px;
}

.contentSpacer {
  margin-bottom: 30px;
}

.childNodesContainer {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.childNodesColumnSpacer {
  float: left;
  width: 20px;
  height: 20px;
}

.childNodesColumn {
  float: left;
  /* body margin (left, right) + spacer */
  width: calc((100vw - 60px) / 2);
}

.consoleContainer {
  padding-top: 0;
  padding-bottom: 0;
  padding: 30px;
  background-color: #111111;
  border: 3px solid #111111;
  border-radius: 8px;
  margin-bottom: 20px;
}

.consoleRowSpacer {
  margin-bottom: 10px;
}

.consoleButton {
  display: inline-block;

  border: 3px solid #474646;
  background-color: #474646;

  padding-left: 5px;
  padding-right: 5px;

  border-radius: 5px;

  font-size: 130%;

  margin-right: 6px;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #111111;
  border: 3px solid #111111;
  border-radius: 8px;
  margin-bottom: 20px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  border: 3px solid #841a84;
}

.clickable:active {
  border: 3px solid #ffffff;
}
