body {
  background-color: black;
  color: #acacac;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  margin: 0;
}

/* main column of page */
.page {
  margin: 2vw;
}

/* single entry in page - row */
.box {
  padding: 10px;
  margin-top: 20px;
  background-color: #111111;
  border: 3px solid #2d2d2d;
  border-radius: 8px;
}

/* has text in it */
.content-box {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  border: 3px solid #841a84;
}

.clickable:active {
  border: 3px solid #ffffff;
}

.leafs-container {
  width: 100%;
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  justify-content: space-between;
}

.leaf {
  display: inline-block;
}

/* -------------------------------------------------------------------------- */
/* console */
/* -------------------------------------------------------------------------- */

.console {
  padding: 10px;
}

.console-prompt{
  width: 100%;

  border: 3px solid #474646;
  background-color: #474646;

  color: #acacac;

  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  border-radius: 5px;
  padding: 5px;
}

.console-prompt:focus{
  outline: none;
  border: 3px solid #841a84;
}

.console-prompt-form {
  margin: 0;
}

.console-field {
  display: inline-block;

  border: 3px solid #474646;
  background-color: #474646;
  
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 5px;
  
  margin-top: 7px;
  
  font-size: 130%;
}

/* MARKDOWN */

/* set image width to be 100% of parent element, 
will help when image support is added */
img {
  width: 100%;
}

/* lists */
ul {
  list-style-type: square;
}

hr {
  background-color: #5a5a5a;
  border: none;
  height: 4px;
}

.markdown-code-block {
  /* width:100%; */
  background-color: #272822;
  padding: 10px;
  /* padding-top: 2px;
  padding-bottom: 2px; */
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: auto;
  white-space: nowrap;
}

div.markdown-code-block > code {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

pre {
  margin: 0;
}

.markdown-code {
  background-color: #474646;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 90%;
}

table,
th,
td {
  border: 3px solid #8e8e8e;
  border-collapse: collapse;
}

.markdown-todo-list {
  max-width: 500px;
}

.todo-entry {
  background-color: #222222;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
}

.todo-entry-content {
  display: inline-block;
}

div.todo-entry-content > p {
  margin: 0;
}

/* links */
a:link {
  color: #4f92d5;
}

a:visited {
  color: #905dc4;
}
