body {
  background-color: black;
  color: #acacac;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
}

/* links */
a:link {
  color: #4f92d5;
}

a:visited {
  color: #905dc4;
}

/* main column of page */
.page {
  width: 75vw;
  margin: 0 auto;
}

/* single entry in page - row */
.page-box {
  padding: 10px;
  margin-top: 20px;
  background-color: #111111;
  border: 3px solid #2d2d2d;
  border-radius: 8px;
}

/* has text in it */

.page-content-box {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  border: 3px solid #841a84;
}

/* -------------------------------------------------------------------------- */
/* structuring */
/* -------------------------------------------------------------------------- */

.container {
  display: block;
  width: 100%;
  overflow: hidden;
}

.container-column-two {
  float: left;
  width: 50%;
}

.container-column-three {
  float: left;
  width: 33%;
}

/* -------------------------------------------------------------------------- */
/* console */
/* -------------------------------------------------------------------------- */
.console {
  padding: 10px;
}

.console-prompt{
  width: 100%;
  background-color: #7f7f7f;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  border-radius: 8px;
  border: 4px solid #363636;
}

.console-prompt-form {
  margin: 0;
}


.console-data-field {
  margin-top: 4px;
}

.console-data-field > span:hover {
  border: 2px solid #841a84;
}

.console-navigator-field:hover {
  border: 2px solid #841a84;
}

#console-navigator {
  margin-top: 4px;
}



/* -------------------------------------------------------------------------- */
/* leafs                                                                      */
/* -------------------------------------------------------------------------- */

.leafs-column-padding-left {
  padding-right: 10px;
}

.leafs-column-padding-right {
  padding-left: 10px;
}

/* set image width to be 100% of parent element, 
will help when image support is added */
img {
  width: 100%;
}

/* lists */
ul {
  list-style-type: square;
}

hr {
  background-color: #5a5a5a;
  border: none;
  height: 4px;
}

.markdown-code-block {
  /* width:100%; */
  background-color: #272822;
  padding: 10px;
  /* padding-top: 2px;
  padding-bottom: 2px; */
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: auto;
  white-space: nowrap;
}

div.markdown-code-block > code {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

pre {
  margin: 0;
}

.markdown-code {
  background-color: #474646;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 90%;
}

table,
th,
td {
  border: 3px solid #8e8e8e;
  border-collapse: collapse;
}



.markdown-todo-list {
  max-width: 500px;
}

.todo-entire {
  background-color: #222222;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;

  border-radius: 5px;

  margin-top: 5px;
  margin-bottom: 5px;

  padding: 2px;
}

.todo-hint {
  background-color: #343434;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 90%;  

  margin-right: 5px;
}


.todo-entry-content {
  display: inline-block;
}

div.todo-entry-content > p {
  margin: 0;
}
