.textButton {
  /* for some wtf reason 18px is the maximum font size to get height 40px */
  font-size: 18px;
}

.iconButton {
  width: 40px;
  height: 40px;
}

.icon {
  width: 100%;
  height: 100%;
}

.button {
  cursor: pointer;

  border: 3px solid #474646;
  background-color: #474646;
  border-radius: 5px;

  padding: 5px;

  box-sizing: border-box;
}

.button:hover {
  border: 3px solid #841a84;
}

.button:active {
  border: 3px solid #ffffff;
}

.buttonRow {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

