.clickable {
  cursor: pointer;
}

.clickable:hover {
  border: 3px solid #841a84;
}

.clickable:active {
  border: 3px solid #ffffff;
}

.childNodesContainer {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.childNodesColumn {
  float: left;
  /* body margin (left, right) + spacer */
  width: calc((100vw - 60px) / 2);
}

/* parts */

.horizontalRule {
  background-color: #5a5a5a;
  border: none;
  height: 4px;
  border-radius: 5px;
}

.code {
  background-color: #474646;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  white-space: nowrap;
}

.paragraph {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.todoEntry {
  background-color: #222222;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 4px;
  padding-right: 10px;
  padding-left: 10px;
}

.todoEntryCheckbox {
  width: 50px;
  float: left;
  margin-right: 10px;
}

.todoEntryTextContainer {
  width: calc(100% - 60px);
  float: left;
}

.todoEntryText {
  margin: 0;
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
}

.kanbanContainer {
  padding: 10px;
  background-color: rgb(7, 7, 7);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.kanbanColumnTitle {
  margin: 0;
}

.tableContainer {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #191919;
  overflow: auto;
  display: block;
  border-radius: 8px;
}

.container {
  position: relative;

  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #111111;
  border: 3px solid #111111;
  border-radius: 8px;
}

.graphviz {
  justify-content: center;
  display: flex;
  margin-bottom: 8px;
}
.graphviz > svg {
  border-radius: 5px;
}

.image {
  width: 100%;
}

.mediaContainer {
  display: flex;
  container-type: inline-size;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.embedIframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 8px solid #222222;
  border-radius: 5px;
}

@container (width > 800px) {
  .embedIframe {
    width: 800px;
  }
  .image {
    width: 800px;
  }
}

.errorHeader {
  font-size: 1.2em;
  padding: 10px;
  background-color: #b51928;
  border-radius: 5px;
  overflow-wrap: normal;
  margin-right: 9px;
}

.errorText {
  display: inline-grid;
  align-items: center;
  height: 100%;
  overflow: scroll;
}

.errorContainer {
  padding: 7px;
  overflow-wrap: auto;
  background-color: #4c090f;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 4px;
  box-sizing: border-box;
  height: 58px;
}
