.clickable {
  cursor: pointer;
}

.clickable:hover {
  border: 3px solid #841a84;
}

.clickable:active {
  border: 3px solid #ffffff;
}

.childNodesContainer {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.childNodesColumn {
  float: left;
  /* body margin (left, right) + spacer */
  width: calc((100vw - 60px) / 2);
}

/* parts */

.horizontalRule {
  background-color: #5a5a5a;
  border: none;
  height: 4px;
  border-radius: 5px;
}

.code {
  background-color: #474646;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  /* margin-bottom: 10px; */
  white-space: nowrap;
}

.codeblock {
  border-radius: 5px;
}

.link {
  overflow-wrap: anywhere;
}

.link:link {
  color: #f3715d;
}

.link:visited {
  color: #f3715d;
}

.todoEntry {
  overflow-wrap: anywhere;
  background-color: #222222;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 4px;
  padding-right: 10px;
}

.todoEntryText {
  margin: 0;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 12px;
}

.todoEntryCheckbox {
  margin: 5px;
  width: 20px;
  height: 20px;
}

.kanban {
  display: grid;
  column-gap: 10px;
  background-color: rgb(7, 7, 7);
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.kanbanColumnTitle {
  margin: 0;
}

.table,
.tableRow,
.tableData {
  border: 3px solid #8e8e8e;
  border-collapse: collapse;
}

.container {
  position: relative;

  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #111111;
  border: 3px solid #111111;
  border-radius: 8px;
}

.graphviz {
  justify-content: center;
  display: flex;
  margin-bottom: 8px;
}
.graphviz > svg {
  border-radius: 5px;
}

.image {
  width: 100%;
}

.embedIframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 8px solid #222222;
  border-radius: 5px;
}

.embedContainer {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
