<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <script>
            function addNode() {
                fetch("", {
                    method: "POST",
                    body: JSON.stringify({
                        name: document.getElementById("addNodeName").value,
                    }),
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                    .then((response) => {
                        // indicates whether the response is successful (status code 200-299) or not
                        if (!response.ok) {
                            throw new Error(
                                `Request failed with status ${reponse.status}`
                            );
                        }
                        return response.json();
                    })
                    .then((data) => {
                        console.log(data.count);
                        console.log(data.products);
                    })
                    .catch((error) => console.log(error));
            }
        </script>

        <div class="container mt-2">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <button
                        type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#addNodeModal"
                    >
                        add node
                    </button>
                </li>
            </ul>

            {{ .content }}

            <div
                class="modal"
                id="addNodeModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                add node
                            </h5>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label
                                    for="exampleInputEmail1"
                                    class="form-label"
                                >
                                    name
                                </label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="addNodeName"
                                />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                cancel
                            </button>
                            <button
                                type="button"
                                class="btn btn-primary"
                                data-bs-dismiss="modal"
                                onclick="addNode()"
                            >
                                confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
