{{ range .Hints -}}
    <span class="todo-hint">{{ .Type }} = {{ .Value }}</span>
{{- end }}

{{ range .Entries }}
    <div class="todo-entire">
        <div style="display: inline-block">
            {{ if .Done }}
                <input type="checkbox" checked>
            {{ else }}
                <input type="checkbox">
            {{ end }}
        </div>
        <div class="todo-entire-content">
            {{ .Content }}
        </div>
    </div>
{{ end }}
